# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
venv/
*.zip
*.mp4
# Ignore user profile pictures directory
/app/static/user_profile-pic/

# Ignore environment files
*.flaskenv
*.env

# Ignore other common files and directories
*.log
*.tmp
*.bak
*.swp
*.DS_Store
