.container {
    background-color: #dcdaea96;
    padding: 50px 70px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #54de8ec6;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    margin-bottom: 20px;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor : pointer; 
    width: 100%;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
.btn:hover {
    background-color: #008507;
}

p {
    margin-top: 15px;
}
