body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
header {
    border-bottom: 2px solid #343a40;
    padding-bottom: 20px;
}
h1 {
    font-size: 2.5rem;
    color: #343a40;
}
h2 {
    margin-top: 30px;
    font-size: 1.75rem;
    color: #343a40;
}
.message {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}
.notification {
    background-color: #e9ecef;
    border-left: 5px solid #007bff;
    padding: 10px;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fffdfd;
    color: rgb(7, 7, 7);
    margin-top: auto;
}
.btn {
    margin-top: 10px;
}