.group {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 150px;
}

.group h3 {
    margin: 0;
}

/* .group p {
    margin: 5px 0 10px;
} */
.group .btn{
    margin-top: 1000px;
}
